image: opensearchproject/opensearch:3.4.0

replicas: 3

clusterName: my-opensearch-cluster

resources:
  cpu: 1
  memory: 4Gi

volumeset:
  capacity: 10 # initial capacity in GiB (minimum is 10)

internal_access:
  type: same-gvc # options: same-gvc, same-org, workload-list
  workloads:  # Note: can only be used if type is same-gvc or workload-list
    #- //gvc/GVC_NAME/workload/WORKLOAD_NAME
    #- //gvc/GVC_NAME/workload/WORKLOAD_NAME