kind: secret
name: {{ include "mysql.secretDatabase.name" . }}
description: MySQL configuration
tags:
  {{- include "mysql.tags" . | nindent 4 }}
type: dictionary
data:
  database: {{ .Values.config.db | quote}}
  rootPassword: {{ .Values.config.rootPassword | quote }}
  user: {{ .Values.config.user | quote }}
  password: {{ .Values.config.password | quote }}
{{- if eq .Values.backup.provider "aws" }}
  backup-bucket: {{ .Values.backup.aws.bucket | quote }}
  aws-region: {{ .Values.backup.aws.region | quote }}
{{- end }}
{{- if eq .Values.backup.provider "gcp" }}
  backup-bucket: {{ .Values.backup.gcp.bucket | quote }}
{{- end }}