kind: secret
name: {{ include "pg-ha.secretDatabase.name" . }}
description: Postgres Highly Available config
tags:
  {{- include "pg-ha.tags" . | nindent 4 }}
type: dictionary
data:
  username: {{ .Values.postgres.username | quote }}
  password: {{ .Values.postgres.password | quote }}
  database: {{ .Values.postgres.database | quote }}
{{- if and .Values.backup.enabled (eq .Values.backup.provider "aws") }}
  backup-bucket: {{ .Values.backup.aws.bucket | quote }}
  aws-region: {{ .Values.backup.aws.region | quote }}
{{- end }}
{{- if and .Values.backup.enabled (eq .Values.backup.provider "gcp") }}
  backup-bucket: {{ .Values.backup.gcp.bucket | quote }}
{{- end }}