postgres:
  config:
    username: strapi
    password: strapi-password
    database: strapi
  resources:
    cpu: 500m
    memory: 1024Mi
  volumeset:
    capacity: 10

strapi:
  image: naskio/strapi:latest
  resources:
    cpu: 500m
    memory: 512Mi
  autoscaling:
    minScale: 1
    maxScale: 3
  secrets:
    appKeys: "toBeModified1,toBeModified2,toBeModified3,toBeModified4"
    apiTokenSalt: "toBeModified"
    adminJwtSecret: "toBeModified"
    transferTokenSalt: "toBeModified"
    jwtSecret: "toBeModified"
