kind: secret
name: {{ include "postgres.secretDatabase.name" . }}
description: Postgres config
tags: {{- include "pg.tags" . | nindent 4 }}
type: dictionary
data:
  username: {{ .Values.config.username | quote }}
  password: {{ .Values.config.password | quote }}
{{- if eq .Values.backup.provider "aws" }}
  backup-bucket: {{ .Values.backup.aws.bucket | quote }}
  aws-region: {{ .Values.backup.aws.region | quote }}
{{- end }}
{{- if eq .Values.backup.provider "gcp" }}
  backup-bucket: {{ .Values.backup.gcp.bucket | quote }}
{{- end }}