{{ include "clickhouse.validateStorage" . }}
---
{{- if eq .Values.provider "gcp" }}
kind: secret
name: {{ include "clickhouse.secretGCS.name" . }}
description: Clickhouse GCS config
tags: {{- include "clickhouse.tags" . | nindent 4 }}
type: opaque
data:
  encoding: plain
  payload: |-
    <clickhouse>
        <storage_configuration>
            <disks>
                <gcs_disk>
                    <type>s3</type>
                    <endpoint>https://storage.googleapis.com/{{ .Values.gcp.bucket }}/</endpoint>
                    <access_key_id>{{ .Values.gcp.accessKeyId }}</access_key_id>
                    <secret_access_key>{{ .Values.gcp.secretAccessKey }}</secret_access_key>

                    <bucket>{{ .Values.gcp.bucket }}</bucket>

                    <metadata_path>/var/lib/clickhouse/disks/gcs_disk_metadata/</metadata_path>
                </gcs_disk>

                <gcs_cache_disk>
                    <type>cache</type>
                    <disk>gcs_disk</disk>
                    <path>gcs/</path>
                    <max_size>1Gi</max_size>
                </gcs_cache_disk>
            </disks>

            <policies>
                <gcs_main>
                    <volumes>
                        <main>
                            <disk>gcs_cache_disk</disk>
                        </main>
                    </volumes>
                </gcs_main>
            </policies>
        </storage_configuration>

        <filesystem_cache>
            <base_path>/var/lib/clickhouse_cache/</base_path>
        </filesystem_cache>

        <merge_tree>
            <storage_policy>gcs_main</storage_policy>
        </merge_tree>
    </clickhouse>
{{- end }}